main {
  width: 1200px;
  margin: 0 auto;
  background: beige;
}
main .path {
  margin-bottom: 20px;
}
main .path dd {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  /* a::after {
      content:''; display: inline-block;
      width:24px; height:24px;
      position:relative; top:6px;
      background:url(../images/navigate_next.png)}
      a:last-child::after{display:none;}
      */
}
main .path dd a {
  color: #00a0e2;
}
main .path dd a em {
  font-weight: 700;
}
main #order {
  /*         display: grid;
          grid-template-columns: repeat(2,1fr); */
  display: flex;
  justify-content: space-between;
}
main #order .product_img { /* width:50px; background:aqua; */ }
main #order .product_img .big {
  width: 500px;
}
main #order .product_img .big img {
  width: 100%;
}
main #order .product_img .thum {
  width: 500px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 20px;
  /* margin-top:15px; display:flex; justify-content:space-between */
}
main #order .product_img .thum a {
  width: 150px; /* height:150px; overflow:hidden; */
}
main #order .product_img .thum a img {
  width: 100%;
}
main #order .order_contents {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: calc(100% - 550px);
  background: yellow;
}
main #order .order_contents h1 {
  font-weight: 700;
  font-size: 1.75rem;
}
main #order .order_contents h1 + p { /* padding:10px 0; */ }
main #order .order_contents p {
  font-size: 0.875rem;
}
main #order .order_contents p del {
  font-size: 1.375rem;
}
main #order .order_contents .price {
  font-weight: 700;
  font-size: 1.625rem;
}
main #order .order_contents .deliver {
  border-top: 1px solid #222;
  padding-top: 20px;
}
main #order .order_contents .deliver em {
  font-weight: 700;
  margin-right: 15px;
}
main #order .order_contents h2 {
  font-weight: 700;
  font-size: 1.375rem;
}
main #order .order_contents #brands {
  padding: 10px;
  margin-top: -10px; /* width:100%; border:1px solid $color3;*/
}
main #order .order_contents #galaxy {
  padding: 10px;
  margin-top: -10px;
}
main #order .order_contents #iphone {
  padding: 10px;
  margin-top: -10px;
}
main #order .order_contents .order_list {
  /* display:grid;
  align-items:center;
  grid-template-columns: 1fr 50px 50px 150px; */
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #order .order_contents .order_list .order_product .color {
  margin-bottom: 5px;
  font-size: 0.875rem;
}
main #order .order_contents .order_list .order_product .model {
  font-size: 0.875rem;
}
main #order .order_contents .order_list #order_num {
  width: 40px;
  height: 30px;
  border: none;
  margin-right: -145px;
  padding-left: 5px;
}
main #order .order_contents .order_list #cancel {
  margin-right: -140px;
}
main #order .order_contents .order_list em {
  font-weight: 700; /* text-align:right; */
}
main #order .order_contents .order_list em span {
  font-weight: 700;
  font-size: 1.125rem;
}
main #order .order_contents .total {
  margin: -15px 0 0;
}
main #order .order_contents .total h2 {
  font-weight: 700;
}
main #order .order_contents .btn {
  display: flex;
  justify-content: space-between;
  /* display:grid; grid-template-columns:repeat(3,32%);
  justify-content: space-between; */
}
main #order .order_contents .btn button {
  width: 32%;
}
main #order .order_contents .btn button img {
  width: 100%;
}
main .btm {
  display: none;
}/*# sourceMappingURL=product.css.map */